@import url('common.css');

header{
    width: 100%; 
}
.header_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*ORDER PROSSECE*/
.order_list_wrapper{
    display: flex;
    justify-content: space-between;
    margin: 54px 0;
}
.order_list > div{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 72px;
}
.order{
    position: relative;
    width: 50px; height: 50px;
    text-align: center;
    line-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.order .order_check:before{
    content: '';
    position: absolute;
    width: 50px; height: 50px;
    background: var(--primary-color);
    border-radius: 50%;
    left: 50%; bottom: 0;
    transform: translateX(-50%);
    z-index: -1;
}
.order .order_write:before,
.order .order_send:before{
    content: '';
    position: absolute;
    width: 50px; height: 50px;
    background: var(--primary-sec-color);
    border-radius: 50%;
    left: 50%; bottom: 0;
    transform: translateX(-50%);
    z-index: -1;
}
.order_list p{
    font-family: 'Noto Sans KR', 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 12px;
}
/* .chevron_left{position: absolute; margin-left: 35vw;} */

.order_chevron{
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);

}
.order_chevron span:first-child{
    margin-right: 13vw;
}
.order_chevron span:last-child{
    margin-left: 13vw;
}
/*CART*/
.cart-wrapper{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0;
}
.cart-slide{
    width: 300px;
    height: 100px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid var(--body-sec-color);
    box-sizing: border-box;
    margin: 0 auto;
    box-shadow: 5px 5px 15px rgba(196, 196, 196, 0.1);
    position: relative;
}
.cart_close{
    position: absolute;
    top: -10px;
    right: -10px;
}
.cart-slide a{
    display: flex;
    gap: 15px;
    justify-content: space-between;
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}
.cart-slide a > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    justify-content: center;
}
.cart_title{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cart_title h3{
    font-size: 14px;
    line-height: 14px;
}
.cart_title p{
    font-size: 12px;
    line-height: 12px;
}
.cart_sb{
    display: flex;
    justify-content: space-between;
}
.cart_sb > div{
    display: flex;
    align-items: center;
}
.cart-slide img{
    width: 70px;
    height: 70px;
    border-radius: 5px;
}

.calculate{
    margin: 54px 0;
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
    font-size: 14px;
    line-height: 14px;
}
.calculate > div{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.calculate > div > ul{
    display: flex;
    justify-content: flex-end;
    gap: 35px;
}
.calculate > ul{
    display: flex;
    justify-content: space-between;
    line-height: 16px;
}
.calculate > ul li:last-child{
    font-size: 16px;
}
.calculate hr{
    width: 100%;
    border-bottom: 1px solid var(--primary-color);
    margin: 30px 0;
}

.bottom_menu{
    background: var(--primary-color);
    line-height: 81px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Fashion Fetish';
    color: var(--body-sec-color);
    font-weight: bold;
}