@import url('common.css');
@import url('sub.css');

.product{
    margin: 54px 0;
}
.product > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.product .product_desc h4{
    font-weight: bold;
}
.product .product_desc p{
    font-size: 14px;
    line-height: 18px;
    word-break: break-all;
}
.product img.big{
    width: 315px;
    height: auto;
    border-radius: 5px;
}
.doghnut_wrapper{
    margin: 30px 0;
}
.long{
    width: 100%;
}

/*SLICK*/
.slick{
    margin: 54px 0;
}
.slick h4{
    text-transform: uppercase;
    padding-bottom: 15px;
}
.slick-slide{
    margin: 0 5px;
}
.reference{
    padding: 0 20px;
}
.reference a{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.reference >div > div > div{
    width: 100%;
}
.reference div > div > a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reference img{
    width: 80px;
    height: 80px;
    border-radius: 5px;
}

