@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Philosopher:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');
/*-----------------------LAYOUT------------------------*/

body section .container{
    width: 100%;
    height: 594px;
}
.container{
    width: 1116px;
    margin: 0 auto;
}

button{
    float: right;
    border: 1px solid #C4C4C4;
    padding: 10px;
}
.hidden{
    display: none;
}

/*-----------------------TYPOGRAPHY------------------------*/
body{
    font: 14px/27px 'Noto Sans KR', 'Roboto', sans-serif;
    color: #393939;
}

h2, h3, h4{
    font-family: 'Philosopher', sans-serif;
    font-weight: 700;
    color: #393939;
}

h2{
    font-size: 16px;
}
h3{
    font-size: 25px;
}
h4{
    font-size: 14px;
}

h5{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    color: #91324A;
}
/*-----------------------HEADER------------------------*/
header{
    position: fixed;
    top: 0; right: 0; left: 0;
    z-index: 2;
}
.top_bar{
    background: #EBEBEB;
}
.top_menu{
    float: right;
    font-size: 12px;
    margin: 5px;
}
.top_menu li{
    float: left;
    line-height: 27px;
    padding-left: 13px;
}
.top_menu li a{
    color: #767676;
}
.top_menu li a:hover{
    font-weight: 700;
}
.header_contents{
    background: #fff;
}
.header_contents .container{
    position: relative;
}
.header_top{
    padding:30px 0;
}
.header_top .logo{
    float: left;
}
.header_top .logo a{
    width: 189px;
    height: 47px;
    background: url('../img/logo.png') no-repeat;
    display: block;
    text-indent: -9999em;
}
.header_contents .container ul li a{
    color: #393939;
}
.header_contents .container ul li a:hover{
    color: #91324A;
} 
.header_search{
    width:400px;
    height: 38px;
    border-radius: 30px;
    border: 2px solid #C4C4C4;
    box-sizing: border-box;
    background: rgba(255, 255, 255, .6);
    float: left;
    margin-left: 20px;
    position: relative;
}
.header_contents .container .header_top .header_search button{
    position: absolute;
    right: 16px;
    border:none;
    padding: 0;
}

.header_search button,
.header_search input{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}
.header_search input{
    left: 16px;
    line-height: 38px;
    height: 38px;
    padding: 0;
}
.header_top ul{
    float: right;
}
.header_top ul li{
    float: left;
    margin-left: 20px;
    line-height: 27px;
}

.category_list:after{
    content: '';
    display: block;
    clear: both;
}
.category{
    border-bottom: 1px solid #C4C4C4;
    background:#fff;
    height:30px; 
	overflow:hidden;
	transition:0.4s ease-in;
	z-index:999;
}
.category_list > li{
    float: left;
    line-height: 27px;
    margin-right: 45px;
    position: relative;
}

.category_list >li ul{
    width: 100%;
    position: absolute;
    margin-top: 24px;
}

.category_list > li > ul > li{
    white-space: nowrap;
    padding-bottom: 20px;
    line-height: 16px;
}
.category_list > li > ul > li a{
    padding: 3px 5px;
}
.category_list > li > ul > li:hover a{
    color: #91324A;
    background-color: #FFEA97;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.category:hover{
    height: 250px;
}

.paging{
    text-align: center;
}
.paging ul{
    display: inline-block;
    width:200px;
    font-family: 'Philosopher', sans-serif;
}
.paging ul li{
    padding: 10px;
    float: left;
    line-height: 27px;
}
/*---------------------FOOTER------------------------*/
footer{
    margin-top: 20px;
}

footer address{
    background: #EBEBEB;
}
address .container{
    padding: 35px;
}

address .container p{
    font-size: 16px;
    font-weight: 700;
}
address .container span{
    font-size: 12px;
    line-height: 27px;
    display: block;
}
address .container span em{
    font-weight: 700;
    color: #797979;
}