@import url(common.css);


/* POPUP */
.popup{
    width: 380px;
    padding: 27px;
    position: fixed;
    left: 25%; top: 50%; transform: translate(-50%, -50%);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    background: #fff;
    border: 1px solid #91324A;
    z-index: 10;
    font-size: 14px;
    line-height: 18px;
    padding: 27px;
}
.popup > div{
    display: flex;
    flex-direction: column;
    gap: 27px;
}
.popup .during{
    display: flex;
    flex-direction: column;
    color: #91324A;
    gap: 27px;
}
.popup .during h2{
    font-size: 27px;
    color: #91324A;
    font-weight: 700;
}
.popup .during p{
    display: flex;
    gap: 10px;
}
.popup .during .port_link{
    display: flex;
    gap: 7px;
}
.popup .during .port_link a{
    padding: 10px 15px;
    border-radius: 5px;
    color: var(--body-color);
    border: 1px solid #91324A;
    box-sizing: border-box;
    text-transform: uppercase;
    transition: 0.3s;
}
.popup .during .port_link a:hover{
    color: #fff;
    background-color: #91324A;
    border: 1px solid transparent;
    box-sizing: border-box;
}
.popup .during p, .pop_desc{
    color: #393939;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.pop_desc{
    margin-bottom: 27px;
}
.pop_desc h3{
    font-weight: bold;
    color: #91324A;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
}
.pop_desc > ul,
.pop_desc > div{
    display: flex;
    gap: 10px;
}
.pop_desc > ul li a{
    color: #393939;
    transition: 0.3s;
}
.pop_desc > ul li a:hover{
    color: #91324A;
}
.popup .during p, .pop_desc > div{
    text-transform: none;
}
.popup span.close{
    position: absolute;
    top: 0; right: 0;
    border: 0;
    color: #fff;
    background-color: #91324A;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
}
.popup span.close:after{
    content: '';
    position: absolute;
    top: 0; right: 0;
    width: 24px;
    height: 24px;

}

/*-----------------------HEADER------------------------*/
header{
    z-index: 1;
}
.header_contents{
    background: linear-gradient(rgba(255, 255, 255, .5), #fff );
}
header .category{
    background: linear-gradient(rgba(255, 255, 255, .5) 27px, #fff,);
}
/*-----------------------MAIN------------------------*/

.banner h2{display: none;}

.banner{
    position: relative;
    width: 100%;	
	overflow: hidden;
}
.banner .container_slider{
    position: absolute;
	width:100%;
	transition: left .3s ease-in;
    left: 0;
}
.banner .container_slider .slide{
    position: absolute;
    width: 100%; 
    height: 765px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: -9999em;
}
.banner .container_slider .banner1{background-image: url(../img/banner01.jpg);}
.banner .container_slider .banner2{background-image: url(../img/banner02.jpg);}
.banner .container_slider .banner3{background-image: url(../img/banner03.jpg);}
.banner .container_slider .banner4{background-image: url(../img/banner04.jpg);}
.banner .container_slider .banner5{background-image: url(../img/banner05.jpg);}
.banner .container_slider .banner6{background-image: url(../img/banner06.jpg);}
.banner .container_slider .banner7{background-image: url(../img/banner07.jpg);}
.banner .container_slider .banner8{background-image: url(../img/banner08.jpg);}

/*nav & pager*/
#prev,
#next{
    position: absolute;
    top: 50%;
	left:50%;
    transform: translateY(-50%);
    display: inline-block;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
    text-indent: -9999em;
}
#prev.disabled, #next.disabled { display:none;}

#prev svg,
#next svg{
    fill:rgba(255, 255, 255, .5);
}

#prev{
    background-image: url('../img/prev.svg'); 
    margin-left:-700px; 
}
#prev:hover { fill: #91324A;}
#next {
    margin-left:700px;
    background-image: url('../img/next.svg');
}

#next:hover { fill: #91324A; }

.pager{
    position: absolute;
    left: 0; right: 0; bottom: 0;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    gap: 20px;
}
.pager a{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(255, 255, 255, .5);
    text-indent: -9999em;
    cursor: pointer;
}
.pager a.active{
    background: #91324A;
}


/*best item*/
.weekly_best{
    margin: 0 auto;
    padding-top: 100px;
}
.weekly_best_name{
    padding-bottom: 10px;
}
.weekly_best_name h2{
    display: block;
    float: left;
    padding-right: 20px;
}

/*2021.8.25 컨트롤러 javascript 추가*/

.weekly_best_wrapper{
    width: 1116px;
    height: 333px;
    position: relative;
    overflow: hidden;
}
.weekly_best_list{
    position: absolute;
    transition: left 0.5s ease-in;
    left: 0;
}
.weekly_best_list li{
    float: left;
    margin-right: 24px;
    width: 261px;
    height: 333px;
}
.weekly_best_list li:last-child{
    margin-right: 0;
}
.weekly_best_list img { border-radius:30px;}

/*------------hover시 img백그라운드 컬러 변경------------*/
.weekly_best_wrap{
    position: relative;
}
.weekly_best_wrap:before{
    content: '';
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    background: rgba(255, 255, 255, .5);
    opacity: 0;
    transition: 0.4s;
}
.weekly_best_wrap a{
    position: absolute;
    left:50%; top:50%; transform: translate(-50%, -50%);
    color: #393939;
    opacity: 0;
    transition: 0.4s;
}
.weekly_best_wrap:hover:before,
.weekly_best_wrap:hover a{
    opacity: 1;
}
/*-------------------------------------------------*/
.weekly_best_list li .caption{
    padding: 10px 0 0 10px;
}
.weekly_best_list li .caption div{
    display: inline-block;
}

.weekly_best_list li .caption div p{
    padding-left:20px;
    text-decoration:line-through;
    font-style: italic;
}

/*recommend*/
.recommend{
    margin-top: 100px;
}

.recommend_name h2{
    float: left;
    line-height: 37px;
}
.recommend_name ul{
    float: right;
}
.recommend_name li{
    float: left;
}
.recommend hr{
    border:none;
    border-bottom: 1px solid #C4C4C4;
}
.recommend_name li p{
    line-height: 37px;
    padding-right: 10px;
}


.recommend_all{
    line-height: 30px;
}
.recommend_all{
    padding: 13px 0 13px;
}
.recommend_left{
    float: left;
    padding-right: 24px; 
}
.recommend_left ul li{
    border: 1px solid #EBEBEB;
    width:356px;
    height: 55.4px;
    line-height: 55.4px;
    position: relative;
    box-sizing: border-box;
}
.recommend_left ul li a{
    color: #393939;
}
.recommend_left ul li em{
    font-weight: 700;
    padding: 22px;
    line-height: 55.4px;
}
.recommend_left ul li p{
    position: absolute;
    top:0;
    left: 50px;
    line-height: 55.4px;
}
.recommend_left ul li span{
    position: absolute;
    top:0;
    right: 13px;
    line-height: 55.4px;
}
.recommend_right{
    float: right;
    background-image:url(../img/recommend.jpg);
    background-position: 0 0;
    background-repeat:no-repeat;
    width:736px;
    height:276px;
    display:block;
}
.recommend_left ul li{
    font-weight: 400;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.recommend_left ul li:hover{
    background-color: #FFEA97;
    box-shadow: 0 0 5 rgba(0, 0, 0, .5);
    font-weight: 700;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}


/*m:EVENT*/
.event {
    margin-top: 100px;
}

.event_name h2{
    float: left;
    line-height: 37px;
}
.event_name ul{
    float: right;
}
.event_name ul li{
    float: left;
}
.event hr{
    border:none;
    border-bottom: 1px solid #C4C4C4;
}
.event_name li p{
    line-height: 37px;
    padding-right: 10px;
}

.event_all{
    padding-top: 12px;
}
.event_all li p{
    font-size: 14px;
    line-height: 16px;
}
.event1{
    float: left;
}
.event2{
    float: right;
}
.event_all h2{
    display: block;
    padding-top: 10px;
}
.event_all h4{
    font-weight: 400;
    margin-bottom: 5px;
}

/*신상품 추가 2021.07.18*/
.new_item{
    margin-top: 100px;
    background-color: #f7eac9;
}
.new_contents{
    padding: 27px;
    text-align: center;
    position: relative;
}
.new_list ul{
    display: inline-block;
}
.new_contents h3 a{
    width: 46px;
    height: 139px;
    background: url(../img/new.png) no-repeat;
    display: inline-block;
    text-indent: -9999em;
    position: absolute;
    left: 15%;
}
.new_list ul li{
    float: left;
    margin-left: 20px;
}

.new_list ul li h4{
    text-align: left;
    display: block;
    padding-top: 10px;
}
.new_list ul li .caption{
    display: inline;
    float: left;
}
.new_list ul li .caption h5{
    float: left;
    padding-right: 20px;
}
.new_list ul li .caption p{
    float: right;
    text-decoration:line-through;
    font-style: italic;
}

.new_list li{
    position: relative;
}
.new_list li a:after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .8);
    opacity: 0;
    transition: 0.4s;
}
.new_list li a span{
    position: absolute;
    left:50%; top:50%; transform: translate(-50%, -50%);
    color: #393939;
    opacity: 0;
    transition: 0.4s;
    z-index: 10;
}
.new_list li:hover a:after,
.new_list li:hover a span{
    opacity: 1;
}
/* 콘텐츠 추가 2021.07.21*/
/*m:LAB*/
.mlab{
    margin-top: 100px;
}
.mlab_name h2{
    float: left;
    line-height: 37px;
}
.mlab_name ul{
    float: right;
}
.mlab_name ul li{
    float: left;
}
.mlab_wrapper hr{
    border:none;
    border-bottom: 1px solid #C4C4C4;
}
.mlab_name li p{
    line-height: 37px;
    padding-right: 10px;
}
.mlab_list li{
    float: left;
    width: 255px;
    margin-right:24px; 
    float:left; 
    padding: 14px 0 14px 0; 
}
.mlab_list li h3{
    padding: 10px 0 0 10px;
    font-size: 16px;
}
.mlab_list li:nth-child(4n){
    margin-right:0;
}
.mlab_list img { border-radius:30px;}

.mlab_list .mlab_wrap{
    position: relative;
}
.mlab .mlab_wrapper .mlab_list .mlab_wrap:before{
    content: '';
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    background: rgba(255, 255, 255, .5);
    opacity: 0;
    transition: 0.4s;
}
.mlab_wrap a{
    position: absolute;
    left:50%; top:50%; transform: translate(-50%, -50%);
    color: #393939;
    opacity: 0;
    transition: 0.4s;
}
.mlab .mlab_wrapper .mlab_list .mlab_wrap:hover:before,
.mlab .mlab_wrapper .mlab_list .mlab_wrap:hover a{
    opacity: 1;
}

/*INSTAGRAM*/
.sns{
    margin-top: 100px;
}
.sns_name{
    text-align: center;
}
.sns_name ul{
    display: inline-block;
}
.sns_name ul li{
    float: left;
}
.sns_name ul i{
    font-size: 32px;
    padding-right: 10px;
}
.sns_name ul h2{
    white-space: nowrap;
}
.sns_item{
    margin-bottom: 100px;
}
.sns_item img { border-radius:30px;}

.sns_item ul li { 
    width:166px; 
    margin-right:24px; 
    float:left; 
    padding: 14px 0 14px 0;
    }
     
.sns .sns_item ul li:nth-child(6n){margin-right:0;}

/*---------------------FOOTER_join------------------------*/
footer .join_us{
    background-color: #F8E4E1;
}
.join_name{
    width: 1116px;
    margin: 0 auto;
    text-align: center;
}
.join_name ul{
    display: inline-block;
}
.join_name ul li{
    float: left;
    margin: 35px;
    color: #797979;
}
.join_name ul li i{
    font-size: 32px;
}
.join_name ul li {
    font-size: 12px;
}
.join_name ul li span{
    font-size: 14px;
}
.join_name ul li a{
    color: #797979;
}
.join_name ul li a:hover{
    color: #91324A;
}
/*---------------------FOOTER------------------------*/

footer address{
    background: #EBEBEB;
}
address .container{
    padding: 35px;
}
address .container p{
    font-size: 16px;
    font-weight: 700;
}
address .container span{
    font-size: 12px;
    line-height: 27px;
    display: block;
}
address .container span em{
    font-weight: 700;
    color: #797979;
}
/*------------------------------------------------------------------------------gotop버튼*/
.go-top {
	width: 48px;
	height: 48px;
	background: rgba(0,0,0,.2);
	text-align: center;
	line-height: 48px;
	color: #fff;
	position:fixed;
	bottom:170px;
	left:calc(50% + 558px);
	opacity: 0;
	transition:0.5s;
	visibility: hidden;
	/* pointer-events: none; */
}
a.go-top i span{
    display: none;
}
.go-top.active{
	opacity: 1;
	visibility: visible;
	/* pointer-events: auto; */
}
