@import url(common.css);

em{
    font-weight: 700;
}
.container{
    width: 1116px;
    margin: 0 auto;
}
button{
    border: 1px solid #C4C4C4;
    padding: 10px;
}
/*-----------------------MAIN------------------------*/
.with{
    margin-top: 190px;
}

.with_name ul li{
    float: left;
    line-height: 100px;
}

.with_name ul h2{
    float: left;
    font-size: 37px;
}
.with_name ul p{
    float: right;
    padding-left: 10px;
}

.with_list li{
    width: 356px;
    margin-right:24px; 
    float:left; 
    padding: 14px 0 14px 0; 
}
.with_list li h3{
    padding: 10px 0 0 10px;
}
.with_list li:last-child{
    margin-right:0;
}

.with_list img { border-radius:30px;}

.with_wrapper .with_list .with_wrap{
    position: relative;
}
.with_wrapper .with_list .with_wrap:before{
    content: '';
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    background: rgba(255, 255, 255, .5);
    opacity: 0;
    transition: 0.4s;
}
.with_wrapper .with_list .with_wrap a{
    position: absolute;
    left:50%; top:50%; transform: translate(-50%, -50%);
    color: #393939;
    opacity: 0;
    transition: 0.4s;
}
.with_wrapper .with_list .with_wrap:hover:before,
.with_wrapper .with_list .with_wrap:hover a{
    opacity: 1;
}

.with button{
    left:0;
    padding-right: 10px;
    margin-top:20px;
}

hr{
    border:none;
    border-bottom: 1px solid #C4C4C4;
    margin-top: 70px;
}


.with_brand{
    margin-top: 100px;
}
.with_brand_name ul li{
    float: left;
    line-height: 100px;
}
.with_brand_name ul h2{
    float: left;
    font-size: 37px;
}
.with_brand_name ul p{
    float: right;
    padding-left: 10px;
}
.with_brand_list li{
    width: 536px;
    padding-right: 24px;
    margin-bottom: 48px;
}

.with_brand_list li{
    float: left;
}
.with_brand_list li img{
    float: right;
    padding-left: 10px;
}
.with_brand_list li button{
    float: left;
    margin-top: 24px;
}
.with_brand_list li:nth-child(2n){
    padding-right: 0;
}
.with_brand_list .brand_wrap{
    padding: 20px 0;
    float: right;
    width: 263px;
}

.brand_wrap h3{
    font-weight: 900;
}
.brand_wrap p{
    word-break: keep-all;
}

/* .with_brand_list { border-radius:30px;} */

/* .with_brand_wrapper .with_brand_list .brand_wrap{
    position: relative;
}
.with_brand_wrapper .with_brand_list .brand_wrap:before{
    content: '';
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    background: rgba(255, 255, 255, .5);
    opacity: 0;
    transition: 0.4s;
}
.with_brand_wrapper .with_brand_list .brand_wrap a{
    position: absolute;
    left:50%; top:50%; transform: translate(-50%, -50%);
    color: #393939;
    opacity: 0;
    transition: 0.4s;
}
.with_brand_wrapper .with_brand_list .brand_wrap:hover:before,
.with_brand_wrapper .with_brand_list .brand_wrap:hover a{
    opacity: 1;
} */

.with_brand{
    left:0;
    padding-right: 10px;
    margin-top:20px;
}