@import url('common.css');


header>div .modal_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul, nav > div{
    display: flex;
    gap: 10px;
}
/*MAIN BANNER*/
.slidewrapper{
    position: relative;
    width: 100%;
    height: 80vh;
}
.slidewrapper .slides{
    position: absolute;
    width: 100%;
    height: 100%;
}
.slidewrapper .slides li{
    height: 80vh;
    display: flex;
    justify-items: center;
}
.slidewrapper .slides .slide1{background: url('../images/banner01.jpg') no-repeat center center / cover;}
.slidewrapper .slides .slide2{background: url('../images/banner02.jpg') no-repeat center center / cover;}
.slidewrapper .slides .slide3{background: url('../images/banner03.jpg') no-repeat center center / cover;}
.slidewrapper .slides .slide4{background: url('../images/banner04.jpg') no-repeat center center / cover;}


/*HEADER*/
.mian_header.header_menu{
    position: absolute;
    top: 6vh;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    padding: 0 30px;
    box-sizing: border-box;
}
/*SLIDE UP*/
/*NEWS*/
.container{
    width: 100%;
    padding: 0 30px;
}
body{
    position: relative;
}

.slide-up-wrapper{
    width: 100%;
    box-sizing: border-box;
    border-radius: 30px;
    position: absolute;
    top: 75vh; left: 0;
    background: #fff;
    transition: 0.4s;
    padding-top: 30px;
}
.slide-up-wrapper.move{
    transform: translateY(-65vh);
}
.swiper_control{
    margin-bottom: 30px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    height: 25px;
    align-items: center;
}
.swiper_control .swiper-pagination {
    /* position: absolute; */
    top: 0;
    left: auto;
    right: 20px;
    bottom: auto;
    width: auto;
}
.swiper-pagination-bullet{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--primary-color);
}
.swiper-wrapper{
    padding-left: 20px;
}
.swiper-slide{
    display: flex;
    width: 200px;
    height: 100px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid var(--body-sec-color);
    box-sizing: border-box;
    box-shadow: 5px 5px 15px rgba(196, 196, 196, 0.2);
}
.swiper-slide a{
    display: flex;
    gap: 15px;
    align-items: center;
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}
.swiper-slide p{
    width: 100%;
}
.swiper-slide a div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 12px;
}
.swiper-slide a div h4{
    font-size: 12px;
}
.swiper .swiper-wrapper .swiper-slide img{
    width: 70px;
    height: 70px;
    border-radius: 5px;
}

/*NEW FLAVOR*/
.slide_padding{
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.new_flavor{
    margin-top: 54px;
    background: url('../images/main_new_flavor.png') no-repeat;
    background-position: center center;
    width: 100%; height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.new_flavor h5{
    text-align: center;
    font-family: 'Fashion Fetish';
    text-transform: uppercase;
    padding-top: 145px;
    font-size: 16px;
    font-weight: normal;
}
.new_flavor .art_img{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.new_flavor .art_img img{
    width: 101px;
    height: 101px;
    border-radius: 5px;
}
.flavor_desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.new_flavor p{
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: var(--body-color);
}
.new_flavor a{
    text-align: center;
    font-size: 14px;
    font-family: 'Fashion Fetish';
    color: var(--body-sec-color);
}

/*CONTACT*/
.contact_store{
    display: flex;
    gap: 15px;
    flex-direction: column;
    margin: 277px 0 54px;
}
.contact{
    background: url('../images/contact2.jpg') no-repeat -200px -50px / 880px 865px;
    width: 335px;
    height: 100px;
    text-align: center;
}
.contact a{
    font-family: 'Beach Front';
    font-size: 54px;
    line-height: 100px;
    text-transform: capitalize;
    color: #F6D753;
}
/*STORE*/
.store{
    background: url('../images/contact.jpg') no-repeat 0 0 / 335px 100px;
    width: 335px;
    height: 100px;
    text-align: center;
}
.store a{
    font-family: 'Beach Front';
    font-size: 54px;
    line-height: 100px;
    text-transform: capitalize;
    color: #5C7CC5;
}