/*
 * File       : Loading.module.css
 * Date       : 2024. 02. 24
 * Author     : SUJI BAE (THETITITLE)
 */
@import url('../reset.css');
.loadingWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.spinnerWrap {
  display: flex;
}
.title {
  font-size: 30px;
}
