@import url(common.css);

em{
    font-weight: 700;
}
main .sub_content .sub_item ul li .caption{
    width: 205px;
    padding: 0 10px;
    margin: 0 auto;
    margin-bottom: 20px;
}
main .sub_content .sub_item ul li .caption h4{
    font-size: 13px;
    padding-top: 10px;
}
main .sub_content .sub_item ul li .caption p{
    font-size: 11px;
    line-height: 12px;
}

/*-----------------------MAIN------------------------*/

.sub_content{
    margin-top: 170px; /*bottom은 pager 넣고 100%으로 수정*/
}
.sub_left{
    width: 188px;
    position: fixed;
}
.sub_left li a{
    margin-top: 20px;
    line-height: 50px;
}
.sub_left li a:hover{
    color: #91324A;
}
.sub_right{
    float: right;
    width: 928px;
    margin: 0 10px;
    border-left: 1px solid #C4C4C4;
}
.sub_right .sub_banner{
    margin-bottom:40px;
}
.sub_right li{
    float: left;
}
.sub_array{
    float: left;
    padding-left: 20px;
}
.sub_array em{
    color: #91324A;
}
.sub_array p, 
.sub_array li a{
    line-height: 27px;
    padding-right: 10px;
}
.sub_array li a{
    padding-right: 20px;
}
.sub_item{
    padding:10px;
}
.sub_item li .caption{
    display: inline-block;
    padding-top: 10px;
}
.sub_item li .caption h5{
    float: left;
}
.sub_item li .caption span{
    float: left;
    padding-left:20px;
    text-decoration:line-through;
    font-style: italic;
}
.sub_button{
    margin-right: 20px;
}
.sub_item{
    margin-top: 30px;
}
.sub_item li{
    width: 209px;
    padding: 0 24px 30px 0;
}
.sub_item li:nth-child(4n){
    padding-right: 0;
}
.sub_item li img{
    border-radius: 30px;
    width: 100%;
}
