/*
* File       : fonts.module.css
* Date       : 2024. 02. 07.
* Author     : SUJI BAE (THETITITLE)
*/

/* **************************************** *
* FONT HIERARCHY
* **************************************** */
.subTt {
  /* subtitle */
  font-size: 2.75rem;
  line-height: 4rem;
}
.conTt {
  /* content title */
  text-transform: uppercase;
  font-size: 1.25rem;
  line-height: 2.5rem;
}
.fontUp{
  text-transform: uppercase;
}
.fontLow{
  text-transform: lowercase;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .subTt {
    font-size: 1.25;
    line-height: 2.5rem;
  }
}
@media (min-width: 320px) and (max-width: 500px) {
  .conTt {
    font-size: 2.5rem;
    line-height: 2.75rem;
  }
}
.eb {
  font-family: "AppleSDGothicNeoEB00", "Gothic A1", "Noto Sans KR", "sans-serif";
  font-weight: 500;
}