/*
* File       : footer.module.css
* Date       : 2024. 02. 07.
* Author     : SUJI BAE (THETITITLE)
*/
.container {
  max-width: 1320px;
  min-width: 320px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
