/*
* File       : globals.css
* Date       : 2024. 02. 07.
* Author     : SUJI BAE (THETITITLE)
*/

/* **************************************** *
* color
* **************************************** */
:root {
  --fontTitle: #f4f4f4;
  --fontBasic: #acacac;
  --HighLight: #f5fa03;
  --BgColor: #1e1e1e;
}

/* **************************************** *
* FONT FAMILY
* **************************************** */
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;600;700;800&family=Noto+Sans+KR:wght@300;400;500;600;700;800&display=swap");

@font-face {
  font-family: "against";
  src: url("../../public/fonts/against-Regular.woff2") format("woff2"),
    url("../../public/fonts/against-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AppleSDGothicNeoB00";
  src: url("../../public/fonts/AppleSDGothicNeoB00.woff2") format("woff2"),
    url("../../public/fonts/AppleSDGothicNeoB00.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AppleSDGothicNeoEB00";
  src: url("../../public/fonts/AppleSDGothicNeoEB00.woff2") format("woff2"),
    url("../../public/fonts/AppleSDGothicNeoEB00.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AppleSDGothicNeoH00";
  src: url("../../public/fonts/AppleSDGothicNeoH00.woff2") format("woff2"),
    url("../../public/fonts/AppleSDGothicNeoH00.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AppleSDGothicNeoR00";
  src: url("../../public/fonts/AppleSDGothicNeoR00.woff2") format("woff2"),
    url("../../public/fonts/AppleSDGothicNeoR00.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1,
h2,
h3,
h4 {
  color: var(--fontTitle);
  margin: 0;
}
h1 {
  font-family: "against";
  font-weight: 500;
  font-size: 4rem;
  line-height: 5rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
    line-height: 2.75rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-size: 3rem;
    line-height: 4rem;
  }
}
h2,
h3 {
  font-family: "AppleSDGothicNeoEB00", "Gothic A1", "Noto Sans KR", "sans-serif";
  font-weight: 500;
}
em {
  color: var(--HighLight);
}
b {
  font-family: "AppleSDGothicNeoB00", "Gothic A1", "Noto Sans KR", "sans-serif";
  font-weight: 500;
}

/* **************************************** *
* layout
* **************************************** */
* {
  box-sizing: border-box;
}
body {
  background-color: var(--BgColor);
  font-family: "AppleSDGothicNeoR00", "Gothic A1", "Noto Sans KR", "sans-serif";
  font-weight: 300;
  font-style: normal;
  color: var(--fontBasic);
  font-size: 1rem;
  line-height: 1.5;
  word-break: keep-all;
}
@media only screen and (max-width: 320px) {
  body {
    font-size: 0.85rem;
  }
}
main {
  /* header style을 위해 position 설정 */
  position: relative;
}
header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  z-index: 1;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
header.drop {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  border: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  animation: dropdown 0.5s;
  -webkit-animation: dropdown 0.5s;
}
@keyframes dropdown{
  from{
    top: -60px;
  }
  to{
    top: 0;
  }
}
footer {
  border-top: 1px solid rgba(255, 255, 255, 1);
}
header,
footer {
  height: 60px;
}
header > div,
footer > div {
  height: 100%;
}
img {
  width: 100%;
}
a {
  height: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
