/*
* File       : header.module.css
* Date       : 2024. 02. 07.
* Author     : SUJI BAE (THETITITLE)
*/
.container {
  max-width: 1320px;
  min-width: 320px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* **************************************** *
* TAB MENU
* **************************************** */
.tabWrapper ul {
  display: flex;
  height: inherit;
  font-size: 14px;
  text-transform: uppercase;
}
.tabWrapper ul li {
  padding: 0 15px;
  height: inherit;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  color: var(--HighLight);
}
.tabWrapper ul li.active {
  background-color: rgba(30, 30, 30, 0.8);
  position: relative;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.tabWrapper ul li.active::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  height: 5px;
  background-color: var(--HighLight);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.tabWrapper ul li a {
  line-height: 60px;
  height: 60px;
  color: var(--fontTitle);
  font-size: 12px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.tabWrapper ul.drop li a {
  color: var(--BgColor);
  /* font-weight: 500; */
}
.tabWrapper ul.drop li.active a {
  color: var(--fontTitle);
}
.tabWrapper ul li.active a{
  font-weight: 500;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
