/*
* File       : icon.css
* Date       : 2024. 02. 08.
* Author     : SUJI BAE (THETITITLE)
*/
.ico {
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  text-indent: -99999em;
}
.logo {
  background-image: url('../../public/img/logo_origin_white.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  text-indent: -99999em;
  width: 100px;
  height: 55px;
}
.logoDark{
  background-image: url('../../public/img/logo_origin_dark.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  text-indent: -99999em;
  width: 100px;
  height: 55px;
}
