/*
* File       : page.module.css
* Date       : 2024. 02. 07.
* Author     : SUJI BAE (THETITITLE)
*/

/* **************************************** *
* LAYOUT
* **************************************** */
.container{
  max-width: 1320px;
  min-width: 320px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sectionWrap {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.sectionWrap section{
  padding: 80px 0;
}
.sectionWrap section:first-child {
  height: 100vh;
}
/* **************************************** *
* SECTION1 - HELLO
* **************************************** */
.section1, .titleWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section1{
  position: relative;
}
.section1::before{
  content: '';
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  background: url(../../public/img/dark_bg.jpg) no-repeat center/cover;
}
.section1:after{
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(180deg,#0000 15%,var(--BgColor));
}
.section1 article{
  z-index: 1;
  width: 20%;
  text-align: center;
  word-break: keep-all;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.section1 article span{
  color: var(--fontTitle);
}
/* **************************************** *
* SECTION2 - INTRODUCE
* **************************************** */