@import url(./reset.scss);
@import url(./nomalize.scss);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;600;900&display=swap');

// color
:root {
  --fontBasic: #242020;
  --fontWhite: #fcfcf5;
  --pointClolr1: #FB0069;
  --bgColor: #fcfcf5;
}

// font
@font-face {
  font-family: 'against';
  src: url('../assets/font/against-Regular.woff2') format('woff2'),
      url('../assets/font/against-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'AppleSDGothicNeoB00','AppleSDGothicNeoEB00', 'AppleSDGothicNeoH00', 'AppleSDGothicNeoR00';
  src:
    url('../assets/font/AppleSDGothicNeoB00.woff2') format('woff2'),
    url('../assets/font/AppleSDGothicNeoB00.woff') format('woff'),
    url('../assets/font/AppleSDGothicNeoH00.woff2') format('woff2'),
    url('../assets/font/AppleSDGothicNeoH00.woff') format('woff'),
    url('../assets/font/AppleSDGothicNeoR00.woff2') format('woff2'),
    url('../assets/font/AppleSDGothicNeoR00.woff') format('woff'),
    url('../assets/font/AppleSDGothicNeoEB00.woff2') format('woff2'),
    url('../assets/font/AppleSDGothicNeoEB00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-size: 2rem !important;
  @media (min-width: 768px) and (max-width: 1179px) {
    font-size: 1.67rem !important;
  }

  &.title{
    font-family: 'against','Noto Sans KR', 'sans-serif';
    font-size: 4rem !important;
    line-height: 5.45rem !important;
    @media (min-width: 768px) and (max-width: 1179px) {
      font-size: 2.67rem !important;
      line-height: 3rem !important;
    }
  }
}
h2 {
  font-size: 1.67rem !important;
  line-height: 1.2;
  @media (min-width: 768px) and (max-width: 1179px) {
    font-size: 1.313rem !important;
  }
}
.desc{
  @media (min-width: 768px) and (max-width: 1179px) {
    letter-spacing: 10px;
  }
}
.fontB{
  font-family: 'AppleSDGothicNeoB00','Noto Sans KR', 'sans-serif';
  // font-size: 1rem !important;
  // line-height: 1.2;
  // @media (min-width: 768px) and (max-width: 1179px) {
  //   font-size: 0.875rem !important;
  //   line-height: 1;
  // }
}
.fontEB{
  font-family: 'AppleSDGothicNeoEB00','Noto Sans KR', 'sans-serif';
  // font-size: 1rem !important;
  // line-height: 1.2;
  // @media (min-width: 768px) and (max-width: 1179px) {
  //   font-size: 0.875rem !important;
  //   line-height: 1;
  // }
}
// h1,
// h2 {
//   font-weight: 700 !important;
//   margin: 1rem 0 !important;
// }

body {
  font-family: 'AppleSDGothicNeoR00','Noto Sans KR', 'sans-serif';
  color: var(--fontBasic);
  font-size: 1rem !important;
  line-height: 1.2;
  background-color: var(--bgColor);
  @media (min-width: 768px) and (max-width: 1179px) {
    font-size: 0.875rem !important;
    line-height: 1;
  }
}

// common
.hidden{
  display: none !important;
}
.tr{
  text-align: right;
}
.tl{
  text-align: left;
}
.tc{
  text-align: center;
}
em{
  color: var(--pointClolr1);
}
// flex & padding & margin
@for $i from 1 through 999 {
  .mg#{$i} {
    margin: 1px * $i;
  }
  .mt#{$i} {
    margin-top: 1px * $i;
  }
  .mr#{$i} {
    margin-right: 1px * $i;
  }
  .mb#{$i} {
    margin-bottom: 1px * $i;
  }
  .ml#{$i} {
    margin-left: 1px * $i;
  }
  .pd#{$i} {
    padding: 1px * $i;
  }
  .pt#{$i} {
    padding-top: 1px * $i;
  }
  .pr#{$i} {
    padding-right: 1px * $i;
  }
  .pb#{$i} {
    padding-bottom: 1px * $i;
  }
  .pl#{$i} {
    padding-left: 1px * $i;
  }
  .g#{$i} {
    gap: 1px * $i;
  }
  .rg#{$i} {
    row-gap: 1px * $i;
  }
  .flex#{$i} {
    flex: 1 * $i;
  }
}

// logo
.q-avatar.logo{
  width: 100px;
  height: auto;
}

// layout
.container{
  min-width: 1180px;
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  @media (min-width: 768px) and (max-width: 1179px) {
    min-width: 768px;
    max-width: 1179px;
  }
}
header {
  &.q-layout__section--marginal {
    color: rgba(45,45,45, 0.8);
    background-color: rgba(252,252,245,0.25);;
    height: 60px;
    opacity: 1;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    .q-tab--active{
      .q-tab__label{
        color: rgba(45,45,45, 0.9);
        font-family: 'AppleSDGothicNeoB00','Noto Sans KR', sans-serif;
      }
      .q-tab__indicator{
        background-color: rgba(251,0,105, 0.8);
      }
    }
  }
  .q-layout__shadow:after {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.025), 0 0px 10px rgba(0, 0, 0, 0.1);
  }
  &.active{
    opacity: 0;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
  }
}
div#navBar{
  color: var(--fontWhite);
  background-color: rgba(36,32,32, 0.5);
  position: fixed;
  width: 100%;
  height: 60px;
  top: -100px;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  z-index: 9999999;
  &.active{
    top: 0px;
    opacity: 1;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }
  .q-tab{
    .q-tab__content{
      .q-tab__label{
        font-family: 'AppleSDGothicNeoR00','Noto Sans KR', sans-serif;
        color: rgba(252,252,245,0.9);
        // color: var(--fontWhite);
      }
    }
    &.q-tab--active{
      .q-tab__content{
        .q-tab__label{
          font-family: 'AppleSDGothicNeoB00','Noto Sans KR', sans-serif;
          color: var(--fontWhite);
        }
      }
      .q-tab__indicator{
        background-color: rgba(251,0,105, 0.8);
      }
    }
  }
}
// heaver & nav 공통
.q-tabs{
  .q-tab{
    height: 60px;
    .q-tab__content{
      padding: 0;
    }
  }
}
// pages
.q-page-container{
  padding-top: 0 !important;
  padding-bottom: 0 !important;

  &.index-page{

    .q-splitter{
      .q-splitter__before, .q-splitter__separator{
        display: none !important;
      }
    }
  }
}
// footer
footer{
  &.q-layout__section--marginal {
    height: 90px;
    border-top: 1px solid rgba(45, 45, 45, 0.1);
    background-color: var(--bgColor);
    color: var(--fontColor1);
  }
  .q-layout__shadow:after {
    box-shadow: none;
  }
}

