/*
 * File       : index.css
 * Date       : 2023. 12. 03.
 * Author     : SUJI BAE (THETITITLE)
 */

@import url(./common.scss);

section{
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 160px;
  &:last-child{
    margin-bottom: 0;
  }
  &#hello{
    position: relative;
    height: 100vh;
    &::before, &::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100vh;
      width: 100%;
    }
    &::before{
      background: url(../assets/img/bg_snow.jpg) no-repeat center/cover;
    }
    &::after{
      background: linear-gradient(180deg, transparent 15%, rgba(252,252,245,1) 100%);
    }
    article{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.8;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      z-index: 1;
      width: 370px;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 30px;
      h1{
        opacity: 0.8;
      }
      .desc{
        word-break: keep-all;
      }
    }
  }
  &#introduce{
    .userInfoWrap{
      .userInfo{
        @media (min-width:768px) and (max-width: 1023px){
          text-align: center;
        }
        .nameBirth{
          li{
            &:nth-child(2){
              font-family: 'AppleSDGothicNeoH00','Gothic A1','Noto Sans KR', 'sans-serif';
              font-weight: 500;
              font-size: 3rem;
              @media (min-width:768px) and (max-width: 1023px){
                font-size: 2rem;
              }
            }
          }
        }
      }
    }
    .timeLineWrap{
      height: 30rem;
    }
    .articleWrap {
      @media (min-width:768px) and (max-width: 1023px){
        flex: 2;
        flex-direction: column;
      }
    }
  }
  &#project{
    .container{
      display: flex;
      flex-direction: column;
      gap: 160px;
    }
    .slideWrap{
      display: flex;
      align-items: flex-end;
      height: 507px;
      img.projectSection{
        width: 5.25rem;
        @media (min-width:768px) and (max-width: 1023px) {
          width: 58px;
        }
      }
      .btnWrap{
        padding: 0 20px 0 10px;
      }
      .swiper{
        height: 100%;
        .swiper-slide{
          position: relative;
          cursor: pointer;
          &::after{
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: linear-gradient(180deg, transparent 15%, rgba(252,252,245,1) 100%);
          }
          img{
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
          }
        }
      }
    }
  }
  &#thisPage{
    .imgWrap{
      height: 840px;
      overflow: hidden;
      position: relative;
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      @media (min-width:768px) and (max-width: 1023px) {
        height: 450px;
      }
      &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(180deg, transparent 15%, rgba(252,252,245,1) 100%);
      }
    }
    .timeLineWrap{
      height: 15rem;
      .timeLine{
        > li{
          &:nth-child(1){
            width: 74px;
          }
        }
      }
    }
  }
}
