@import url(./common.scss);

section{
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 160px;
  &#hello{
    position: relative;
    &::before, &::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100vh;
      width: 100%;
    }
    &::before{
      background: url(../assets/img/bg_snow.jpg) no-repeat center/cover;
    }
    &::after{
      background: linear-gradient(180deg, transparent 15%, rgba(252,252,245,1) 100%);
    }
    article{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.8;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      z-index: 1;
      width: 370px;
      height: auto;
      h1{
        opacity: 0.8;
      }
      .desc{
        word-break: keep-all;
      }
    }
  }
  &#introduce{
    .userInfoWrap{
      .userInfo{
        @media (min-width:768px) and (max-width: 1023px){
          text-align: center;
        }
        .nameBirth{
          li{
            &:nth-child(2){
              font-family: 'AppleSDGothicNeoH00','Noto Sans KR', 'sans-serif';
              font-size: 3rem;
              @media (min-width:768px) and (max-width: 1023px){
                font-size: 2rem;
              }
            }
          }
        }
      }
    }
    .articleWrap {
      @media (min-width:768px) and (max-width: 1023px){
        flex: 2;
        flex-direction: column;
      }
    }
    .timeLineWrapper{
      .timeLineWrap{
        height: 30rem;
        padding: 10px 0;
        overflow: hidden;
        position: relative;
        &::after{
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          height: calc(100% + 20px);
          transform: translateY(-10px);
          border-left: 1px dashed var(--fontBasic);
          opacity: 0.7;
        }
        @media (min-width:768px) and (max-width: 1023px){
          height: 12rem;
          font-size: 0.875rem !important;
          line-height: 1;
        }
        .timeLines{
          height: 100%;
          display: flex;
          flex-direction: column;
          gap: 30px;
          position: relative;
          overflow-y: scroll;
          -ms-overflow-style: none;
          @media (min-width:768px) and (max-width: 1023px) {
            gap: 20px;
          }
          &::-webkit-scrollbar{
            display:none;
          }
          .timeLine{
            margin-left: 10px;
            display: flex;
            gap: 15px;
            > li{
              &:nth-child(1){
                width: 60px;
              }
              &:nth-child(2){
                flex: 1;
              }
            }
            .fontB{
              span{
                position: relative;
                &::after{
                  content: "";
                  position: absolute;
                  width: 0.3rem;
                  height: 0.3rem;
                  background-color: var(--pointClolr1);
                  top: 50%;
                  left: -12px;
                  transform: translateY(-50%);
                  -webkit-transform: translateY(-50%);
                  -moz-transform: translateY(-50%);
                  -ms-transform: translateY(-50%);
                  -o-transform: translateY(-50%);
                  z-index: 1;
                  border-radius: 50%;
                  -webkit-border-radius: 50%;
                  -moz-border-radius: 50%;
                  -ms-border-radius: 50%;
                  -o-border-radius: 50%;
                }
              }
            }
            > ul{
              display: flex;
              flex-direction: column;
              gap: 5px;
            }
          }
          .skills{
            @media (min-width:768px) and (max-width: 1023px){
              img{
                width: 80%;
              }
            }
          }
        }
      }
    }
  }
  // &#project{
  // }
  // &#thisPage{
  //   background-color: #2d2d2d;
  // }
}
