@import url(./common.scss);

section{
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 160px;
  &#hello{
    position: relative;
    &::before, &::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100vh;
      width: 100%;
    }
    &::before{
      background: url(../assets/img/bg_snow.jpg) no-repeat center/cover;
    }
    &::after{
      background: linear-gradient(180deg, transparent 15%, rgba(252,252,245,1) 100%);
    }
    article{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.8;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      z-index: 1;
      width: 370px;
      height: auto;
      h1{
        opacity: 0.8;
      }
      .desc{
        word-break: keep-all;
      }
    }
  }
  &#introduce{
    .userInfoWrap{
      img{
        width: 100%;
      }
      .userInfo{
        .nameBirth{
          li{
            &:nth-child(1){
              font-family: 'AppleSDGothicNeoEB00','Noto Sans KR', 'sans-serif';
              text-transform: uppercase;
            }
            &:nth-child(2){
              font-family: 'AppleSDGothicNeoH00','Noto Sans KR', 'sans-serif';
              font-size: 3rem;
            }
          }
        }
        > li{

        }
      }
    }
  }
  // &#project{
  // }
  // &#thisPage{
  //   background-color: #2d2d2d;
  // }
}
