@import url('common.css');
header{
    width: 100%; 
}
.header_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main{
    margin-top: 12.3vh;
}
fieldset{
    display: flex;
    flex-direction: column;
    gap: 5.5vh;
    margin-bottom: 10.6vh;
}
fieldset input{
    background: transparent;
    height: 36px;
    width: 100%;
    /* max-width: 74.6vw; */
    outline: none;
    border-bottom: 1px solid var(--body-color);
    transition: border-color 0.3s;
    color: var(--body-sec-color);
}
fieldset input::placeholder{
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
    font-weight: 400;
    color: #c4c4c4;
    font-size: 14px;
    line-height: 36px;
    text-indent: 15px;
}
.field h2{
    font-size: 14px;
    line-height: 14px;
}
.forgot{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.forgot a{
    font-family: 'Fashion Fetish';
    color: var(--primary-color);
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    text-align: center;
}
.forgot a:last-child{
    color: var(--body-sec-color);
    line-height: 36px;
    font-weight: 300;
}
.forgot_bg{
    background: url('../images/category_header2.png') no-repeat 0 0 / 97px 97px;
    width: 97px; height: 97px;
    text-indent: -9999em;
    overflow: hidden;
}

.bottom_menu{
    background: var(--primary-color);
    line-height: 81px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Fashion Fetish';
    color: var(--body-sec-color);
    font-weight: bold;
}
