@import url(normalize.css);
@import url(reset.css);

/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

@font-face {
    font-family: 'S-Core Dream 3';
    src: url('../webfonts/S-CoreDream-3Light.woff2') format('woff2'),
        url('../webfonts/S-CoreDream-3Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'S-Core Dream 4';
    src: url('../webfonts/S-CoreDream-4Regular.woff2') format('woff2'),
        url('../webfonts/S-CoreDream-4Regular.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'S-Core Dream 7';
    src: url('../webfonts/S-CoreDream-7ExtraBold.woff2') format('woff2'),
        url('../webfonts/S-CoreDream-7ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'S-Core Dream 6';
    src: url('../webfonts/S-CoreDream-6Bold.woff2') format('woff2'),
        url('../webfonts/S-CoreDream-6Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'S-Core Dream 1';
    src: url('../webfonts/S-CoreDream-1Thin.woff2') format('woff2'),
        url('../webfonts/S-CoreDream-1Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
body{
    font-family: 'S-Core Dream 3','Nanum Gothic','Noto Sans KR', 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 27px;
    color: var(--bodycolor);
    text-transform: uppercase;
    overflow-y: scroll;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5{
    font-family: 'S-Core Dream 4';
}
.eng_write{
    font-family: 'Nanum Gothic','Noto Sans KR', 'Roboto', sans-serif;
}
.hidden{
    display: none;
}

/* COLOR */
:root{
    --bodycolor: #393939;
    --bodycolor2: #6D6E71;
    --bodycolor3: #F2F2F2;
    --primarycolor: #C40452;
    --primarycolor2: #620229;
    --primarycolor3: #89415E;
}
em{
   color: var(--primarycolor);
}

/* SPRITE IMG */
.sprite{
    background: url('../img/sprite@x1.png') no-repeat 0 0 / 472px 265px;
    display: inline-block;
    text-indent: -9999em;
    overflow: hidden;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.sprite.logo{background-position: 0 0;}
.sprite.logo2{background-position: -236px 0;}
.sprite.toggle{background-position: -112px -73px;}
.Sprite.user{background-position: -56px -129px;}
.Sprite.mouse{background-position: -112px -129px;}
.sprite.close{background-position: 0 -73px;}
.sprite.search{background-position: 0 -129px;}
.sprite.close_white{background-position: -448px -185px;}
.sprite.view{background-position: -448px -129px;}
.sprite.search_light{background-position: -168px -241px;}
.sprite.youtube{background-position: 0 -185px;}
.sprite.twitter{background-position: -56px -185px;}
.sprite.facebook{background-position: -112px -185px;}
.sprite.instagram{background-position: -168px -185px;}

/* LOGO */
.logo, .logo2{
    width: 210px; height: 42px;
}

/* LAYOUT */
.container{
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}

/* HEADER */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 54px 0;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
header nav > div{
    display: flex;
    justify-content: space-between;
}
.nav_left, .nav_right{
    display: flex;
    align-items: center;
    gap: 27px;
    color: var(--bodycolor3);
}
.nav_right li a{
    line-height: 42px;
    height: 42px;
}
.nav_right li:nth-child(3){
    position: relative;
    width: 42px;
    height: 42px;
}
.nav_right li:nth-child(3):before{
    position: absolute;
    content: '';
    width: 42px;
    height: 42px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    z-index: -1;
}
.nav_right li:nth-child(3):hover:before{
    background: var(--primarycolor);
}

/* HEADER FORM */
header nav form{
    display: flex;
    align-items: center;
    padding: 0 13px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
header nav form input{
    width: 0;
    height: 42px;
    line-height: 42px;
    box-sizing: border-box;
    background-color: transparent;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    opacity: 0;
    color: var(--bodycolor3);
}
header nav form input.active{
    width: 216px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    opacity: 1;
}
header nav label{
    display: flex;
    align-items: center;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
header nav label.active{
    text-indent: -9999em;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
header nav form span.close_white{
    display: none;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
header nav form label.active + .close_white { 
    display: block;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
} 
/* HEADER + FIXED */
header.fixed{
    padding: 6px 0;
    background: rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
header.fixed nav .nav_left, header.fixed nav .nav_right{
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
/*ASIDE*/
aside{
    position: relative;
    z-index: 100;
}
.aside_bg{
    position: fixed;
    background: #fff;
    z-index:1;
    padding:54px;
    top: 0;
    right:-50%;
    bottom: 0;
    width: 50%;
    box-sizing: border-box;
    overflow-y:hidden;
    display: flex;
    flex-direction: column;
    gap: 27px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.aside_bg.active{
    right: 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.aside_top{
    display: flex;
    flex-direction: column;
    gap: 54px;
}
.aside_top > span.close{
    position: absolute;
    right: 0;
    padding-right: 27px;
    background: url('../img/sprite@x1.png') no-repeat;
    background-position: 0 -73px;
}
.aside_user{
    display: flex;
    justify-content: space-between;
    margin-top: 54px;
}
.aside_user > div{
    display: flex;
}
.aside_user > div span.user{
    background-position: -56px -129px;
}
.aside_top form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 27px;
    max-width: 336px;
    width: 100%;
    margin: 0 auto;
    border: 2px solid var(--primarycolor);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    box-sizing: border-box;
}
.aside_top form input, .aside_top form label{
    line-height: 54px;
    height: 54px;
    display: flex;
    align-items: center;
}
.aside_top form input::placeholder{
    color: var(--bodycolor2);
}
.aside_bg #accordion h2{
    line-height: 54px;
    border-bottom: 1px solid var(--primarycolor);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.aside_bg #accordion h2 a{
    display: flex;
    flex: 1;
}
.aside_bg #accordion h2 i{
    background: url('../img/sprite@x1.png') no-repeat;
    background-position: -392px -185px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.ui-state-active i{
    transform: rotate(180deg);
}
.aside_bg #accordion ul{
    margin: 27px 0;
}
.aside_bg #accordion ul li{
    line-height: 27px;
    text-indent: 27px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.aside_bg #accordion ul li:hover{
    color: var(--primarycolor);
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
}

/*SITE MAP*/
.section1_bg .sitemap{
    position: relative;
    z-index: 100;
}
.sitemap_bg{
    position: fixed;
    background: rgba(0, 0, 0, .8);
    z-index:100;
    padding:54px;
    top: -100%;
    bottom: 0;
    left:0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-y:hidden;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.sitemap_bg.active{
    top: 0;
    transition:0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -ms-transition:0.5s;
    -o-transition:0.5s;
}
.sitemap_bg .close_white{
    position: absolute;
    left: 10vw;
    bottom: 54px;
}
.sitemap_head{
    display: flex;
    flex-direction: column;
}
.sitemap_head p{
    font-family: 'S-Core Dream 6';
    font-size: 27px;
    color: var(--bodycolor3);
}
.sitemap_bg .sitemap_content{
    display: flex;
    justify-content: space-around;
    text-align: left;
    margin-top: 54px;
}
.sitemap_bg .sitemap_content h2{
    color: var(--primarycolor);
    font-family: 'S-Core Dream 6';
    font-size: 27px;
    line-height: 43px;
}
.sitemap_bg .sitemap_content > div{
    color: var(--bodycolor3);
}
.sitemap_bg .sitemap_content > div ul h3{
    color: var(--bodycolor3);
    margin-top: 27px;
}
.sitemap_bg .sitemap_content .menu_list li{
    padding: 0 13px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.sitemap_bg .sitemap_content .menu_list li:hover{
    background: var(--primarycolor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
/* FOOTER */
footer{
    background-color: var(--bodycolor);
    color: var(--bodycolor3);
}
footer .container{
    padding: 54px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_left{
    display: flex;
    flex-direction: column;
    gap: 27px;
}
.footer_logo{
    display: flex;
    gap: 27px;
    align-items: center;
}
.footer_logo > div{
    display: flex;
}
.footer_logo span:first-child{
    position: relative;
    padding-right: 27px;
}
.footer_logo span:first-child::after{
    position: absolute;
    content: '';
    border-right: 1px solid var(--bodycolor3);
    height: 16px;
}
.footer_left ul{
    display: flex;
}
.footer_left ul li:nth-child(1) a{
    padding-right:13px;
}
.footer_left ul li:nth-child(n+2) a{
    padding: 0 13px;
}
.footer_left ul li:nth-child(-n+2){
    position: relative;
}
.footer_left ul li:nth-child(-n+2):after{
    position: absolute;
    content: '';
    height: 16px;
    border-right: 1px solid var(--bodycolor3);
}
.footer_right{
    display: flex;
    flex-direction: column;
    gap: 27px;
    text-align: right;
}
.footer_right img{
    width: 76px;
    height: auto;
    justify-content: flex-end;
}
.customer_center{
    display: flex;
    gap: 13px;
}
.customer_center .tell_num{
    font-family: 'S-Core Dream 6';
}
.center_date{
    display: flex;
    flex-direction: column;
}

/* RESPONSIVE */
@media screen and (max-width:375px){
    .container{width: 90%;}
    .nav_left form,
    .nav_right li:nth-child(-n+2){
        display: none;
    }
    .aside_bg{
        right:-100%;
        width: 100%;
    }
}
@media screen and (max-width:768px){
    .container{width: 90%;}
    .nav_left form,
    .nav_right li:nth-child(-n+2){
        display: none;
    }
    .aside_bg{
        right:-100%;
        width: 100%;
    }
}