@import url('common.css');

header{
    width: 100%; 
}
.header_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
article{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 60px;
}
article img{
    width: 315px;
    height: 315px;
    border-radius: 5px;
}
article .art_desc{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
article .art_desc h3{
    text-align: center;
}
article .art_desc p{
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    word-break: break-all;
}
hr{
    width: 100px;
    border: none;
    border-bottom: 1px solid var(--primary-color);
}
.doghnut_wrapper{
    max-width: 315px;
    width: 100%;
    margin: 54px 0;
}
.doghnut_list{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.doghnut_list li{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 150px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid var(--body-sec-color);
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(196, 196, 196, 0.2);
}
.doghnut_list li img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
.doghnut_desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.doghnut_desc h4{
    font-size: 12px;
    line-height: 16px;
}
.doghnut_desc p{
    font-size: 10px;
    line-height: 10px;
    text-align: center;
}

.view_more{
    display: flex;
    justify-content: center;
    margin-bottom: 54px;
}
.view_more a{
    font-family: 'Fashion Fetish';
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    color: var(--body-sec-color);
}
