/*
* File       : styles.scss
* Date       : 2024. 02. 27
* Author     : SUJI BAE (THETITITLE)
*/
/* **************************************** *
* COLOR
* **************************************** */
:root {
  --bgColor: #121212;
  --bdColor: #393939;
  --fontBasic: #cccccc;
  --fontTitle: #ffffff;
  --highLight: rgb(162, 231, 0);
}
/* **************************************** *
* FONT
* **************************************** */
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;600;700;800&family=Noto+Sans+KR:wght@300;400;500;600;700;800&display=swap');

@font-face {
  font-family: 'against';
  src: url('../public/font/against-Regular.woff2')
      format('woff2'),
    url('../public/font/against-Regular.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'AppleSDGothicNeoB00';
  src: url('../public/font/AppleSDGothicNeoB00.woff2')
      format('woff2'),
    url('../public/font/AppleSDGothicNeoB00.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'AppleSDGothicNeoEB00';
  src: url('../public/font/AppleSDGothicNeoEB00.woff2')
      format('woff2'),
    url('../public/font/AppleSDGothicNeoEB00.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'AppleSDGothicNeoH00';
  src: url('../public/font/AppleSDGothicNeoH00.woff2')
      format('woff2'),
    url('../public/font/AppleSDGothicNeoH00.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'AppleSDGothicNeoR00';
  src: url('../public/font/AppleSDGothicNeoR00.woff2')
      format('woff2'),
    url('../public/font/AppleSDGothicNeoR00.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: 'AppleSDGothicNeoR00', 'Gothic A1',
    'Noto Sans KR', 'sans-serif';
  font-weight: 300;
  font-style: normal;
  font-size: 0.87rem;
  line-height: 1.2;
  word-break: keep-all;
  background-color: var(--bgColor);
  color: var(--fontBasic);
  overflow-y: scroll;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'against';
  margin: 0;
  color: var(--fontTitle);
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
p {
  margin: 0;
}
/* **************************************** *
* COMMON
* **************************************** */
* {
  box-sizing: border-box;
}
.content {
  padding: 0 20px;
}
.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}
.hidden {
  display: none;
}
.mainTt {
  font-size: 3.37rem;
  color: var(--fontTitle);
  @media (min-width: 320px) and (max-width: 500px) {
    font-size: 2.5rem;
  }
}
.subTt {
  font-size: 1.7rem;
  font-weight: 700;
  color: var(--fontTitle);
}
.bold {
  font-size: 1rem;
  font-weight: 700;
  color: var(--fontTitle);
}
.noBorder {
  border: none;
}
em {
  color: var(--highLight);
}
/* **************************************** *
* BUTTON
* **************************************** */
.btnWrap {
  display: flex;
  gap: 10px;
}
button {
  height: 34px;
  border: 1px solid rgb(204 204 204 / 18%);
  color: var(--fontBasic);
  border-radius: 3px;
  background-color: transparent;
  padding: 3px 10px;
  transition: 0.3s;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    height: 34px;
    line-height: 34px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .svg-inline--fa {
    height: 1.2rem;
  }
  &:hover {
    transition: 0.3s;
    border-color: transparent;
    backdrop-filter: blur(50px);
    color: var(--bgColor);
    background-color: var(--highLight);
    .svg-inline--fa {
      transform: scale(1.1);
      transition: 0.1s;
    }
  }
}
@supports (-webkit-backdrop-filter: none) or
  (backdrop-filter: none) {
  button {
    &:hover {
      -webkit-backdrop-filter: blur(50px);
      backdrop-filter: blur(50px);
    }
  }
}
/* **************************************** *
* LIST
* **************************************** */
ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

/* **************************************** *
* TIMELINE
* **************************************** */
.timeLineWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  .timeLineWrap {
    // flex: 1;
    overflow-y: scroll;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
    .timeLine {
      display: flex;
      flex-direction: column;
      gap: 30px;
      position: relative;
      height: 100%;
      .time {
        display: flex;
        .timeDate {
          width: 80px;
          margin-left: 15px;
          &.now {
            color: var(--highLight);
          }
          position: relative;
          &::after {
            position: absolute;
            content: '';
            top: 3px;
            left: -15px;
            width: 5px;
            height: 5px;
            background-color: var(--highLight);
            border-radius: 50%;
            z-index: 10;
          }
        }
        .timeDesc {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }
      &::after {
        position: absolute;
        content: '';
        border-left: 1px dashed var(--bdColor);
        top: 0;
        bottom: 0;
        left: 2px;
      }
    }
  }
}
/* **************************************** *
* IMG
* **************************************** */
img {
  vertical-align: middle;
}
/* **************************************** *
* HEADER
* **************************************** */
header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}
/* **************************************** *
* FOOTER
* **************************************** */
footer {
  position: relative;
  width: 100%;
  bottom: 0;
  height: 80px;
  backdrop-filter: blur(50px);
  display: flex;
  align-items: center;
  border-top: 1px solid var(--fontTitle);
}
@supports (-webkit-backdrop-filter: none) or
  (backdrop-filter: none) {
  .footer {
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
  }
}
