/*
* File       : Footer.module.scss
* Date       : 2024. 02. 28
* Author     : SUJI BAE (THETITITLE)
*/
/* **************************************** *
* LAYOUT
* **************************************** */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    cursor: pointer;
    img {
      height: 50px;
    }
    .mailTo {
      display: flex;
      gap: 5px;
      align-items: center;
    }
  }
}
