/*
* File       : PageIndex.module.scss
* Date       : 2024. 02. 27
* Author     : SUJI BAE (THETITITLE)
*/

/* **************************************** *
* LAYOUT
* **************************************** */
.content {
  display: flex;
  flex-direction: column;
}
.hello {
  height: 100vh;
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  &::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(
      180deg,
      transparent 5%,
      var(--bgColor) 100%
    );
  }
  .article {
    height: 800px;
    width: 315px;
    @media (max-width: 500px) {
      width: 235px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    .scrollDown {
      position: absolute;
      top: 800px;
      text-transform: uppercase;
      cursor: default;
    }
  }
}
.introduce {
  padding: 160px 0;
  .userWrap {
    display: flex;
    gap: 60px;
    height: 520px;
    @media (max-width: 1024px) {
      height: auto;
    }
    @media (max-width: 768px) {
      height: auto;
      flex-direction: column;
    }
    .userInfo {
      flex: 1;
      flex-direction: column;
      display: flex;
      justify-content: space-between;
      @media (max-width: 1024px) {
        justify-content: flex-start;
        gap: 30px;
      }
      .imgWrap {
        height: 35%;
        @media (min-width: 769px) and (max-width: 1024px) {
          height: 25%;
        }
        img {
          height: 100%;
          @media (max-width: 500px) {
            width: 50%;
          }
        }
      }
      .descWrap {
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-transform: uppercase;

        ul {
          display: flex;
          flex-direction: column;
          gap: 5px;
          &:nth-of-type(1) {
            color: var(--fontTitle);
          }
          &:nth-of-type(2) {
            li {
              &:nth-child(odd) {
                color: var(--fontTitle);
              }
              &:nth-child(even) {
                margin-bottom: 5px;
              }
            }
          }
        }
      }
    }
    .timeSkills {
      flex: 3;
      display: flex;
      gap: 60px;
      @media (max-width: 1024px) {
        flex-direction: column;
      }
      .timeLineWrapper {
        flex: 1;
      }

      .skillLinks {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 30px;
        .skills {
          display: flex;
          flex-direction: column;
          gap: 30px;
          > div {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            @media (max-width: 500px) {
              gap: 10px;
            }
            .skillImg {
              height: calc(50% - 10px);
              @media (max-width: 500px) {
                height: 48px;
              }
            }
          }
        }
        .linksWrap {
          display: flex;
          flex-direction: column;
          gap: 30px;
          .links {
            display: flex;
            flex-direction: column;
            gap: 10px;
          }
        }
      }
    }
  }
}
.productsWrapper {
  padding: 160px 0;
  .productsWrap {
    display: flex;
    gap: 60px;
    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: center;
    }
    .titleWrap {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: calc(30% - 30px);
      @media (max-width: 1024px) {
        text-align: center;
        justify-content: center;
        width: 100%;
      }
    }
    .products {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      width: calc(70% - 30px);
      @media (max-width: 1024px) {
        width: 100%;
      }
      .productsList {
        width: calc(25% - 15px);
        @media (min-width: 501px) and (max-width: 768px) {
          width: calc(50% - 10px);
        }
        @media (max-width: 500px) {
          width: 100%;
        }
        .product {
          display: flex;
          flex-direction: column;
          gap: 5px;
          cursor: pointer;
          .name {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          .skills {
            display: flex;
            gap: 5px;
          }
        }
      }
    }
  }
}
.thispage {
  padding: 160px 0;
  @media (max-width: 500px) {
    padding: 160px 0 80px 0;
  }
  .thisPwarp {
    display: flex;
    gap: 60px;
    height: 700px;
    @media (max-width: 768px) {
      flex-direction: column;
      height: auto;
    }
    .poster {
      text-indent: -999999999999em;
      width: 50%;
      height: 700px;
      background-image: url(../img/poster.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: relative;
      &::after {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: linear-gradient(
          180deg,
          transparent 50%,
          var(--bgColor) 100%
        );
      }
      @media (max-width: 768px) {
        width: 100%;
        height: 335px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    }
    .thisDesc {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 30px;
      .desc {
        display: flex;
        flex-direction: column;
        gap: 30px;
        ul {
          display: flex;
          flex-direction: column;
          gap: 5px;
        }
      }
    }
    .height {
      height: 180px;
    }
  }
}
