/*
* File       : PageIndex.module.scss
* Date       : 2024. 02. 27
* Author     : SUJI BAE (THETITITLE)
*/
/* **************************************** *
* LAYOUT
* **************************************** */
.content {
  display: flex;
  flex-direction: column;
}

.hello {
  height: 100vh;
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.hello::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(180deg, transparent 5%, var(--bgColor) 100%);
}
.hello .article {
  height: 800px;
  width: 315px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
@media (max-width: 500px) {
  .hello .article {
    width: 235px;
  }
}
.hello .article .scrollDown {
  position: absolute;
  top: 800px;
  text-transform: uppercase;
  cursor: default;
}

.introduce {
  padding: 160px 0;
}
.introduce .userWrap {
  display: flex;
  gap: 60px;
  height: 520px;
}
@media (max-width: 1024px) {
  .introduce .userWrap {
    height: auto;
  }
}
@media (max-width: 769px) {
  .introduce .userWrap {
    height: auto;
    flex-direction: column;
  }
}
.introduce .userWrap .userInfo {
  flex: 1;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .introduce .userWrap .userInfo {
    justify-content: flex-start;
    gap: 30px;
  }
}
.introduce .userWrap .userInfo .imgWrap {
  height: 35%;
}
@media (min-width: 769px) and (max-width: 1024px) {
  .introduce .userWrap .userInfo .imgWrap {
    height: 25%;
  }
}
.introduce .userWrap .userInfo .imgWrap img {
  height: 100%;
}
@media (max-width: 500px) {
  .introduce .userWrap .userInfo .imgWrap img {
    width: 50%;
  }
}
.introduce .userWrap .userInfo .descWrap {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-transform: uppercase;
}
.introduce .userWrap .userInfo .descWrap ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.introduce .userWrap .userInfo .descWrap ul:nth-of-type(1) {
  color: var(--fontTitle);
}
.introduce .userWrap .userInfo .descWrap ul:nth-of-type(2) li:nth-child(odd) {
  color: var(--fontTitle);
}
.introduce .userWrap .userInfo .descWrap ul:nth-of-type(2) li:nth-child(even) {
  margin-bottom: 5px;
}
.introduce .userWrap .timeSkills {
  flex: 3;
  display: flex;
  gap: 60px;
}
@media (max-width: 1024px) {
  .introduce .userWrap .timeSkills {
    flex-direction: column;
  }
}
.introduce .userWrap .timeSkills .timeLineWrapper {
  flex: 1;
}
.introduce .userWrap .timeSkills .skillLinks {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.introduce .userWrap .timeSkills .skillLinks .skills {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.introduce .userWrap .timeSkills .skillLinks .skills > div {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.introduce .userWrap .timeSkills .skillLinks .skills > div .skillImg {
  height: calc(50% - 10px);
}
@media (min-width: 1024px) and (max-width: 1112px) {
  .introduce .userWrap .timeSkills .skillLinks .skills > div .skillImg {
    height: calc(40% - 10px);
  }
}
.introduce .userWrap .timeSkills .skillLinks .linksWrap {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.introduce .userWrap .timeSkills .skillLinks .linksWrap .links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.productsWrapper {
  padding: 160px 0;
}
.productsWrapper .productsWrap {
  display: flex;
  gap: 60px;
}
@media (max-width: 1024px) {
  .productsWrapper .productsWrap {
    flex-direction: column;
    align-items: center;
  }
}
.productsWrapper .productsWrap .titleWrap {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: calc(30% - 30px);
}
@media (max-width: 1024px) {
  .productsWrapper .productsWrap .titleWrap {
    text-align: center;
    justify-content: center;
    width: 100%;
  }
}
.productsWrapper .productsWrap .products {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: calc(70% - 30px);
}
@media (max-width: 1024px) {
  .productsWrapper .productsWrap .products {
    width: 100%;
  }
}
.productsWrapper .productsWrap .products .productsList {
  width: calc(25% - 15px);
}
@media (min-width: 501px) and (max-width: 769px) {
  .productsWrapper .productsWrap .products .productsList {
    width: calc(50% - 10px);
  }
}
@media (max-width: 500px) {
  .productsWrapper .productsWrap .products .productsList {
    width: 100%;
  }
}
.productsWrapper .productsWrap .products .productsList .product {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
.productsWrapper .productsWrap .products .productsList .product .name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productsWrapper .productsWrap .products .productsList .product .skills {
  display: flex;
  gap: 5px;
}

.thispage {
  padding: 160px 0;
}
.thispage .thisPwarp {
  display: flex;
  gap: 60px;
  height: 700px;
}
.thispage .thisPwarp .poster {
  text-indent: -999999999999em;
  width: 50%;
  height: 700px;
  background-image: url(../img/poster.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.thispage .thisPwarp .poster::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(180deg, transparent 50%, var(--bgColor) 100%);
}
.thispage .thisPwarp .thisDesc {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.thispage .thisPwarp .thisDesc .desc {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.thispage .thisPwarp .thisDesc .desc ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.thispage .thisPwarp .height {
  height: 180px;
}/*# sourceMappingURL=PageIndex.module.css.map */