/*
* File       : PageIndex.module.scss
* Date       : 2024. 02. 27
* Author     : SUJI BAE (THETITITLE)
*/

/* **************************************** *
* LAYOUT
* **************************************** */
.content {
  display: flex;
  flex-direction: column;
  gap: 160px;
}
.hello {
  height: 100vh;
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  &::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(
      180deg,
      transparent 5%,
      var(--bgColor) 100%
    );
  }
  .article {
    height: 800px;
    width: 315px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    .scrollDown {
      position: absolute;
      top: 800px;
      text-transform: uppercase;
      cursor: default;
    }
  }
}
.introduce {
  .userWrap {
    display: flex;
    gap: 60px;
    height: 520px;
    .userInfo {
      flex: 1;
      flex-direction: column;
      display: flex;
      justify-content: space-between;

      .imgWrap {
        height: 35%;
        img {
          height: 100%;
        }
      }
      .descWrap {
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-transform: uppercase;

        ul {
          display: flex;
          flex-direction: column;
          gap: 5px;
          &:nth-of-type(1) {
            color: var(--fontTitle);
          }
          &:nth-of-type(2) {
            li {
              &:nth-child(odd) {
                color: var(--fontTitle);
              }
              &:nth-child(even) {
                margin-bottom: 5px;
              }
            }
          }
        }
      }
    }

    .skillLinks {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 30px;
      .skills {
        display: flex;
        flex-direction: column;
        gap: 30px;
        > div {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          row-gap: 5px;
        }
      }
      .linksWrap {
        display: flex;
        flex-direction: column;
        gap: 30px;
        .links {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }
    }
  }
}
.productsWrapper {
  .productsWrap {
    display: flex;
    gap: 60px;
    .titleWrap {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
    .products {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      .product {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 214px;
        cursor: pointer;
        .name {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .skills {
          display: flex;
          gap: 5px;
        }
      }
    }
  }
}
.thispage {
  margin-bottom: 160px;
  .thisPwarp {
    display: flex;
    gap: 60px;
    height: 700px;
    .poster {
      text-indent: -999999999999em;
      width: 50%;
      height: 700px;
      background-image: url(../img/poster.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: relative;
      &::after {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: linear-gradient(
          180deg,
          transparent 50%,
          var(--bgColor) 100%
        );
      }
    }
    .thisDesc {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 30px;
      .desc {
        display: flex;
        flex-direction: column;
        gap: 30px;
        ul {
          display: flex;
          flex-direction: column;
          gap: 5px;
          li {
            &:nth-of-type(odd) {
              color: var(--fontTitle);
            }
          }
        }
      }
    }
    .height400 {
      height: 400px;
    }
  }
}
