/*
* File       : PageIndex.module.scss
* Date       : 2024. 02. 27
* Author     : SUJI BAE (THETITITLE)
*/

/* **************************************** *
* LAYOUT
* **************************************** */
.content {
  margin: 90px 0;
  min-height: calc(100vh - 80px);
}
/* **************************************** *
* TITLE WARP
* **************************************** */
.titleWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  span {
    line-height: 1.4;
  }
}
/* **************************************** *
* PRODUCT WARP
* **************************************** */
.productswrap {
  display: flex;
  flex-direction: column;
  gap: 60px;
  .products {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    cursor: pointer;
    > div {
      width: calc(24% - 3px);
      @media (min-width: 769px) and (max-width: 1024px) {
        width: calc(32% - 4px);
      }
      @media (min-width: 501px) and (max-width: 768px) {
        width: calc(50% - 10px);
      }
      @media (max-width: 500px) {
        width: 100%;
      }
      .product {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .name {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .skills {
          display: flex;
          gap: 5px;
        }
      }
    }
  }
}
