/*
* File       : PageIndex.module.scss
* Date       : 2024. 02. 27
* Author     : SUJI BAE (THETITITLE)
*/
/* **************************************** *
* LAYOUT
* **************************************** */
.content {
  display: flex;
  flex-direction: column;
  gap: 300px;
}

.hello {
  height: 100vh;
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.hello::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(180deg, transparent 5%, var(--bgColor) 100%);
}
.hello .article {
  height: 800px;
  width: 315px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.hello .article .scrollDown {
  position: absolute;
  top: 800px;
  text-transform: uppercase;
  cursor: default;
}

.introduce .userWrap {
  display: flex;
  gap: 60px;
  height: 520px;
}
.introduce .userWrap .userInfo {
  flex: 1;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}
.introduce .userWrap .userInfo .imgWrap {
  height: 35%;
}
.introduce .userWrap .userInfo .imgWrap img {
  height: 100%;
}
.introduce .userWrap .userInfo .descWrap {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-transform: uppercase;
}
.introduce .userWrap .userInfo .descWrap ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.introduce .userWrap .userInfo .descWrap ul:nth-of-type(1) {
  color: var(--fontTitle);
}
.introduce .userWrap .userInfo .descWrap ul:nth-of-type(2) li:nth-child(odd) {
  color: var(--fontTitle);
}
.introduce .userWrap .userInfo .descWrap ul:nth-of-type(2) li:nth-child(even) {
  margin-bottom: 5px;
}
.introduce .userWrap .skillLinks {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.introduce .userWrap .skillLinks .skills {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.introduce .userWrap .skillLinks .skills > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 5px;
}
.introduce .userWrap .skillLinks .linksWrap {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.introduce .userWrap .skillLinks .linksWrap .links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.productsWrapper .productsWrap {
  display: flex;
  gap: 60px;
}
.productsWrapper .productsWrap .titleWrap {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.productsWrapper .productsWrap .products {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.productsWrapper .productsWrap .products .product {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 214px;
  cursor: pointer;
}
.productsWrapper .productsWrap .products .product .name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productsWrapper .productsWrap .products .product .skills {
  display: flex;
  gap: 5px;
}

.thispage {
  margin-bottom: 160px;
}
.thispage .thisPwarp {
  display: flex;
  gap: 60px;
  height: 700px;
}
.thispage .thisPwarp .poster {
  text-indent: -999999999999em;
  width: 50%;
  height: 700px;
  background-image: url(../img/poster.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.thispage .thisPwarp .poster::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(180deg, transparent 50%, var(--bgColor) 100%);
}
.thispage .thisPwarp .thisDesc {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.thispage .thisPwarp .thisDesc .desc {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.thispage .thisPwarp .thisDesc .desc ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.thispage .thisPwarp .thisDesc .desc ul li:nth-of-type(odd) {
  color: var(--fontTitle);
}
.thispage .thisPwarp .height {
  height: 180px;
}/*# sourceMappingURL=PageIndex.module.css.map */