@import url('common.css');

/* FULLPAGE NAV */
#fp-nav ul li, .fp-slidesNav ul li{
    margin: 27px 0 0 27px;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span{
    background: var(--primarycolor);
}
#fp-nav ul li .fp-tooltip {
    color: var(--bodycolor);
    font-family: 'S-Core Dream 6';
    font-size: 12px;
}
/* BANNER */
.banner_warpper{
    position: relative;
    width: 100%;
    height: 100vh;
}
.banner_warpper video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.side_nav_sns, .banner_title{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 27PX;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.side_nav_sns{
    left: 5vw;
}
.banner_title{
    right: 5vw;
    display: flex;
    flex-direction: column;
    gap: 6px;
    color: var(--bodycolor3);
}
.banner_title p{
    font-family: 'S-Core Dream 3';
    font-size: 21px;
}
.banner_title span{
    display: flex;
    justify-content: flex-end;
    font-family: 'S-Core Dream 7';
    font-size: 108px;
    line-height: 108px;
}
.side_nav_sns li{
    width: 24px;
    height: 24px;
    display: flex;
}
/* SCROLL ANIMATE */
.scroll_event{
    position: absolute;
    bottom: 27px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    animation-duration: 1.5s;
    animation-name: slideDown;
    animation-iteration-count: infinite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--bodycolor3);
}
span.sprite.mouse{
    background-position: -112px -129px;
}
@keyframes slideDown{
    0%{bottom: 5.76vh; opacity: 0;}
    50%{bottom: 1.44vh; opacity: 1;}
    100%{bottom: 5.76vh; opacity: 0;}
}

/* PRODUCT */
.product{
    /* margin: 164px 0;  */
    /* fullpage적용시 삭제 */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product_list{
    display: flex;
    flex-direction: column;
    gap: 54px;
}
.product_list h3{
    font-weight: 800;
    color: var(--bodycolor2);
}
.product_list ul{
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.product_list li{
    padding: 0 7px;
    height: 54px;
    display: flex;
    flex: 1;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0 6px 10px rgba(177, 161, 167, .5);
    color: var(--bodycolor2);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    opacity: 0.5;
}
.product_list ul li a{
    height: 54px;
    display: flex;
    align-items: center;
    gap: 13px;
}
.product_list ul li a div{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 20px;
}
.product_list ul li a div h4{
    font-family: 'S-Core Dream 4';
}
.product_list ul li img{
    height: 40px;
    width: auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.product_list ul li:hover,
.product_list ul li.active{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    color: var(--bodycolor);
    opacity: 1;
}
.product_wrapper{
    display: flex;
    flex-direction: column;
    /* gap: 27px; */
}
.product_wrapper > div{
    display: flex;
    flex-direction: column;
    gap: 27px;
}
.product_wrapper h2{
    font-family: 'S-Core Dream 7';
    font-size: 54px;
    line-height: 54px;
}
.product_wrapper ul li img{
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    max-width: 445px;
    width: 100%;
    height: auto;
}
.product_slick, .product_slick .slick-track{
    display: flex;
    width: 729px;
    height: 540px;
    align-items: center;
    justify-content: center;
}
.product_slick .slick-list.draggable{
    height: 540px;
}
.product_slick .slick-slide{
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    opacity: 0.4;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    height: 50%;
}
.product_slick .slick-center{
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    z-index: 1;
    opacity: 1;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.product_slick .slick-arrow{
    position: absolute;
    width: 38px;
    height: 38px;
    right: 50%;
    transform: translateX(-50%);
    background: url('../img/sprite@x1.png') no-repeat 0 0 / 472px 265px;
    display: inline-block;
    text-indent: -9999em;
    overflow: hidden;
    bottom: 54px;
    cursor: pointer;
    box-sizing: border-box;
    z-index: 10;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.product_slick .slick-next.slick-arrow{
    background-position: -110px -225px;
    background-color: rgba(0, 0, 0, .1);
    margin-right: -54px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.product_slick .slick-prev.slick-arrow{
    background-position: -51px -225px;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.product_slick .slick-prev.slick-arrow:hover{
    border: 1px solid transparent;
    background-color: var(--primarycolor);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.product_slick .slick-next.slick-arrow:hover{
    border: 1px solid transparent;
    background-color: var(--primarycolor);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

/* SUMMARY */
.summary{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 54px;
    width: 100%;
}
.summary .summary_wrapper{
    display: flex;
}
.summary img{
    max-width: 810px;
    width: 100%;
    height: auto;
    z-index: -1;
    position: absolute;
    right: 12%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.sum_title{
    display: flex;
    flex-direction: column;
    gap: 27px;
    position: absolute;
    left: 12%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.sum_title .box{
    width: 300px;
    height: 300px;
    background-color: var(--bodycolor);
    display: flex;
    justify-content: center;
    align-items: center;
}
.sum_title .box h2{
    color: var(--bodycolor3);
    font-family: 'S-Core Dream 7';
    font-size: 54px;
    line-height: 54px;
}
.sum_title button{
    text-transform: uppercase;
    line-height: 27px;
    height: 27px;
    background-color: transparent;
    padding: 0 6px;
    border: 1px solid var(--bodycolor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.sum_title button:hover{
    border-color: var(--primarycolor);
    background-color: var(--primarycolor);
    color: var(--bodycolor3);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.summary p{
    height: auto;
    margin-top: 491px;
    color: var(--bodycolor2);
    text-align: center;
    opacity: 0;
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    transition: 0.5s ease-out;
    -webkit-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    -ms-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
}
.active .summary p{
    /* 부모의 요소(SECTION)에 ACTIVE가 들어오면 작동된다. */
    opacity: 1; 
    transform: translateY(0px);
}


/* LGHH INFO */
.lghh_info{
    /* margin: 588px 0 294px; */
    /* fullpage적용시 삭제 */
    display: flex;
    flex-direction: column;
    gap: 81px;
}
.lghh_info h2{
    font-family: 'S-Core Dream 7';
    font-size: 54px;
    line-height: 54px;
}
.lghh_info > div{
    display: flex;
    justify-content: center;
}
.lghh_info > div article{
    max-height: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 27px;
}
.lghh_info > div article h3{
    font-family: 'S-Core Dream 6';
}
.lghh_info > div article p{
    max-width: 246px;
    width: 100%;
    padding: 13px 27px;
    text-align: center;
    word-break: keep-all;
    font-size: 12px;
    line-height: 19px;
}
.lghh_info > div article img{
    max-height: 135px;
    height: 100%;
}
.lghh_info > div .lghh_art{
    position: relative;
    display: flex;
    align-items: center;
}
.lghh_info > div .lghh_art:nth-child(n+2):after{
    position: absolute;
    content: '';
    border-right: 1px solid var(--bodycolor);
    height: 81px;
}
.lghh_info > div .lghh_art:nth-child(1) .rate{
    font-size: 135px;
    line-height: 1;
    color: var(--primarycolor);
}
.lghh_info_wrapper .lghh_art{
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s ease-out;
    -webkit-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    -ms-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
}
.lghh_info_wrapper .lghh_art:nth-child(1){
    transition-delay: 0s;
}
.lghh_info_wrapper .lghh_art:nth-child(2){
    transition-delay: 0.3s;
}
.lghh_info_wrapper .lghh_art:nth-child(3){
    transition-delay: 0.6s;
}
.lghh_info_wrapper .lghh_art:nth-child(4){
    transition-delay: 0.9s;
}
.active .lghh_info_wrapper .lghh_art{
    /* 부모의 요소(SECTION)에 ACTIVE가 들어오면 작동된다. */
    opacity: 1; transform: translateY(0px);
}

/* ADVERTISEMENT */
#section5{
    background-image: url("../img/wave-haikei.svg");
    background-position: 0 100%;
}
.video_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 54px;
}
.video_wrapper h2{
    font-family: 'S-Core Dream 7';
    font-size: 54px;
    line-height: 54px;
}
.video_list{
    position: relative;
    max-width: 873px;
    width: 100%;
    height: 524px;
    box-sizing: border-box;
    color: var(--bodycolor3);
}
.video_list .videos{
    /* margin: 348px 0 294px; */
    /* fullpage적용시 삭제 */
    position: absolute;
    max-width: 873px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    box-sizing: border-box;
}
.video_list .videos .video_desc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 54px 27px;
    background: var(--primarycolor);
    box-sizing: border-box;
}
.video_list video{
    max-width: 533px;
    width: 100%;
    object-fit: cover;
}
.video_desc div:nth-child(1){
    display: flex;
    flex-direction: column;
    gap: 27px;
}
.video_desc div:nth-child(1) h3{
    font-family: 'S-Core Dream 6';
    font-size: 54px;
    white-space: nowrap;
}
.videos .button{
    display: flex;
    justify-content: flex-end;
}
.videos button{
    text-transform: uppercase;
    line-height: 27px;
    background-color: transparent;
    padding: 0 6px;
    border: 1px solid var(--bodycolor3);
    color: var(--bodycolor3);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.videos button:hover{
    border-color: var(--bodycolor);
    background-color: var(--bodycolor);
    color: var(--bodycolor3);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.bx-wrapper{
    border: none;
    box-sizing: border-box;
    box-shadow:none;
}
.bx-wrapper .bx-prev {
    left: -54px;
    background: url("../img/sprite@x1.png") no-repeat -168px -32px !important;
    background-color: var(--primarycolor);
    width: 24px;
    height: 24px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.bx-wrapper .bx-next {
    right: -54px;
    background: url("../img/sprite@x1.png") no-repeat -224px -73px !important;
    background-color: var(--primarycolor);
    width: 24px;
    height: 24px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.go_top h2{
    color: var(--bodycolor3);
    display: flex;
    justify-content: center;
    gap: 6px;
}
.go_top h2 span{
    background: url("../img/sprite@x1.png");
    width: 24px; height: 24px;
}
/* COOKIE POPUP */
.popup{
    width: 420px;
    padding: 27px;
    position: fixed;
    left: 25%; top: 50%; transform: translate(-50%, -50%);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    background: #fff;
    border: 1px solid var(--primarycolor);
    z-index: 100;
    font-size: 14px;
    line-height: 27px;
    padding: 27px;
}
.popup > div, .popup .during{
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.popup .during h2{
    font-size: 27px;
    line-height: 43px;
    color: var(--primarycolor);
    font-weight: 700;
}
.popup .during p{
    display: flex;
    gap: 13px;
}
.popup .during .port_link{
    display: flex;
    gap: 13px;
}
.popup .during .port_link a{
    padding: 10px 15px;
    border-radius: 5px;
    color: var(--primarycolor);
    border: 1px solid var(--primarycolor);
    box-sizing: border-box;
    text-transform: uppercase;
    transition: 0.3s;
}
.popup .during .port_link a:hover{
    color: #fff;
    background-color: var(--primarycolor);
    border: 1px solid transparent;
    box-sizing: border-box;
}
.popup .during p, .pop_desc{
    color: #393939;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.pop_desc{
    margin-bottom: 27px;
    display: flex;
    flex-direction: column;
    gap: 27px;
}
.pop_desc h3{
    font-weight: bold;
    color: var(--primarycolor);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
}
.pop_desc > ul,
.pop_desc .contact{
    display: flex;
    gap: 6px;
}
.pop_desc .contact{
    align-items: center;
}
.pop_desc > ul li a{
    color: #393939;
    transition: 0.3s;
}
.pop_desc > ul li a:hover{
    color: var(--primarycolor);
}
.popup .during p, .pop_desc > div{
    text-transform: none;
}
.popup button{
    position: absolute;
    top: 0; right: 0;
    border: 0;
    color: #fff;
    background-color: var(--primarycolor);
    width: 24px;
    height: 24px;
    line-height: 24px;
    /* text-indent: -9999em; */
}
.popup button:after{
    content: '';
    position: absolute;
    top: 0; right: 0;
    width: 24px;
    height: 24px;
    line-height: 24px;
}

/* RESPONSIVE */
@media screen and (max-width:375px){
    .banner_title{
        position: absolute;
        bottom: 0;
        right: 0;
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
    }
    .product{
        display: flex;
        flex-direction: column;
        gap: 27px;
    }
    .product_wrapper, .slick-list, .slick-track{
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
    }
    .product_wrapper{
        display: flex;
        justify-content: center;
    }
    .product_wrapper > div{
        text-align: center;
        gap: 0;
    }
    .product_wrapper > div h2{
        font-size: 36px;
        line-height: 58px;
    }
    .product_list{
        display: none;
    }
    .summary{
        gap: 27px;
    }
    .summary img{
        right: 0;
        width: 80%;
        height: auto;
        top: 25%;
    }
    .sum_title{
        left: 0;
        flex-direction: row;
    }
    .sum_title .box{
        width: 150x;
        height: 150px;
    }
    .sum_title .button{
        display: flex;
        align-items: flex-end;
    }
    .summary p{
        margin-top: 270px;
    }

    .sum_title .box h2{
        font-size: 36px;
        line-height: 36px;
    }
    /* LGHH INFO */
    .lghh_info{
        display: flex;
        flex-direction: column;
        gap: 27px;
        align-items: center;
    }
    .lghh_info h2{
        font-family: 'S-Core Dream 7';
        font-size: 36px;
        line-height: 36px;
    }
    .lghh_info > div{
        width: 400px;
        flex-wrap: wrap;
    }
    .lghh_info > div article{
        height: 50%; width: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 13px;
    }
    .lghh_info > div article p{
        display: none;
    }
    .lghh_info > div .lghh_art{
        position: relative;
        display: flex;
        align-items: center;
    }
    .lghh_info > div .lghh_art:nth-child(1) .rate{
        font-size: 108px;
    }
    .lghh_info > div .lghh_art:nth-child(n+2):after{
        border: none;
    }
    
}